.login-container {
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #d6e0f0;
	width: 30%;
	height: 60%;
	margin: 10% auto 0;
	padding: 3%;
	border-radius: 5px;
}
